.icons {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 44px;
    margin-right: 16px;
    width: 44px;
}

.cost-icons {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.expansion-icon {
    align-self: center;
    height: 20px;
    width: 20px;
}

.cost-icon {
    height: 20px;
    width: 20px;
}

.mat-mdc-card-header {
    align-items: center;
    padding: 16px;
}

.mat-mdc-card-title-group {
    flex-grow: 1;
    justify-content: center;
}

.mat-mdc-card-title {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.mat-mdc-card-subtitle {
    text-align: center;
}
