<mat-card [style.background]="color">
    <mat-card-header>
        <img
            *ngIf="expansionIconUrl !== null"
            mat-card-avatar
            [src]="expansionIconUrl"
            alt="Expansion Icon"
            class="expansion-icon"
        />
        <mat-card-title-group>
            <mat-card-title>{{ card.name }} ({{ card.cost }})</mat-card-title>
            <mat-card-subtitle>{{ typesLabel }}</mat-card-subtitle>
        </mat-card-title-group>
        <div class="spacer"></div>
        <button mat-icon-button (click)="reshuffle.emit()">
            <mat-icon>casino</mat-icon>
        </button>
    </mat-card-header>
</mat-card>
