@import '../../../scss/variables';

.mat-card-title,
.mat-card-subtitle {
    color: $font-color-card;
}

.type-night:not(.type-duration) {
    .mat-card-title,
    .mat-card-subtitle {
        color: inherit;
    }
}

.mat-card-subtitle {
    // this removes the default margin of 16px
    margin-bottom: 0;
}

.expansion-icon {
    border-radius: unset;
    object-fit: contain;
}

.type-action {
    background-color: $background-color-action;

    &.type-duration {
        background-color: $background-color-duration;
    }

    &.type-treasure {
        background: linear-gradient($background-color-action 50%, $background-color-treasure 50%);
        background-color: none;
    }

    &.type-victory {
        background: linear-gradient($background-color-action 50%, $background-color-victory 50%);
        background-color: none;
    }

    &.type-shelter {
        background: linear-gradient($background-color-action 50%, $background-color-shelter 50%);
        background-color: none;
    }
}

.type-treasure {
    background-color: $background-color-treasure;

    &.type-reserve {
        background: linear-gradient($background-color-treasure 50%, $background-color-reserve 50%);
        background-color: none;
    }

    &.type-victory {
        background: linear-gradient($background-color-treasure 50%, $background-color-victory 50%);
        background-color: none;
    }

    &.type-reaction {
        background: linear-gradient($background-color-treasure 50%, $background-color-reaction 50%);
        background-color: none;
    }
}

.type-victory {
    background-color: $background-color-victory;

    &.type-shelter {
        background: linear-gradient($background-color-victory 50%, $background-color-shelter 50%);
        background-color: none;
    }

    &.type-reaction {
        background: linear-gradient($background-color-victory 50%, $background-color-reaction 50%);
        background-color: none;
    }
}

.type-reaction {
    background-color: $background-color-reaction;

    &.type-shelter {
        background: linear-gradient($background-color-reaction 50%, $background-color-shelter 50%);
        background-color: none;
    }
}

.type-reserve {
    background-color: $background-color-reserve;

    &.type-victory {
        background: linear-gradient($background-color-reserve 50%, $background-color-victory 50%);
        background-color: none;
    }
}

.type-duration {
    background-color: $background-color-duration;

    &.type-reaction {
        background: linear-gradient($background-color-duration 50%, $background-color-reaction 50%);
        background-color: none;
    }
}

.type-night {
    background-color: $background-color-night;

    &.type-duration {
        background-color: $background-color-duration;
    }
}

.type-shelter {
    background-color: $background-color-shelter;
}

.type-ruins {
    background-color: $background-color-ruins;
}
