:host ::ng-deep .mat-card-header-text {
    margin: 0;
}

.icons {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: 44px;
    margin-right: 16px;
    width: 44px;
}

.cost-icons {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.expansion-icon {
    align-self: center;
    height: 20px;
    width: 20px;
}

.cost-icon {
    height: 20px;
    width: 20px;
}

.mat-card-title-group {
    flex-grow: 1;
    justify-content: center;
}

.mat-card-title {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}

.mat-card-subtitle {
    // this removes the default margin of 16px
    margin-bottom: 0;
    text-align: center;
}

// TODO: fix use of 'type-...' classes after refactoring of background calculation
/* stylelint-disable-next-line selector-max-compound-selectors */
:host ::ng-deep .type-night:not(.type-duration) .mat-button-focus-overlay {
    background: #fff;
}

.type-night:not(.type-duration) {
    .mat-card-title,
    .mat-card-subtitle {
        color: #fff;
    }

    [mat-icon-button] {
        color: #fff;
    }
}
