<mat-card appearance="outlined" [style.background]="background">
    <mat-card-header>
        <div class="icons">
            @if (expansionIconUrl !== null) {
                <img [src]="expansionIconUrl" alt="Expansion Icon" class="expansion-icon" />
            }
            <div class="cost-icons">
                @for (costIconUrl of costIconUrls; track costIconUrl) {
                    <img [src]="costIconUrl" alt="cost-icon" class="cost-icon" />
                }
            </div>
        </div>
        <mat-card-title-group>
            <mat-card-title [style.color]="titleColor">{{ card.name }}</mat-card-title>
            <mat-card-subtitle [style.color]="subtitleColor">{{ typesLabel }}</mat-card-subtitle>
        </mat-card-title-group>
        <button mat-icon-button (click)="reshuffle.emit()" [style.color]="titleColor">
            <mat-icon>casino</mat-icon>
        </button>
    </mat-card-header>
</mat-card>
