<mat-card appearance="outlined" [style.background]="background">
    <mat-card-header>
        <div class="icons">
            <img
                *ngIf="expansionIconUrl !== null"
                [src]="expansionIconUrl"
                alt="Expansion Icon"
                class="expansion-icon"
            />
            <div class="cost-icons">
                <ng-container *ngFor="let costIconUrl of costIconUrls">
                    <img [src]="costIconUrl" alt="cost-icon" class="cost-icon" />
                </ng-container>
            </div>
        </div>
        <mat-card-title-group>
            <mat-card-title [style.color]="titleColor">{{ card.name }}</mat-card-title>
            <mat-card-subtitle [style.color]="subtitleColor">{{ typesLabel }}</mat-card-subtitle>
        </mat-card-title-group>
        <button mat-icon-button (click)="reshuffle.emit()" [style.color]="titleColor">
            <mat-icon>casino</mat-icon>
        </button>
    </mat-card-header>
</mat-card>
