mat-divider {
    margin: 0.5rem 0;
}

form {
    padding-top: 0.625rem;
}
ul {
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

li {
    margin-top: 0.3rem;
}

.form-actions {
    margin-top: 2rem;
}
