.expansions {
    display: grid;

    @media (width >= 450px) {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

mat-divider {
    margin: 0.5rem 0;
}

ul {
    list-style: none;
    margin-block: 0;
    padding-inline-start: 0;
}
