<form [formGroup]="formGroup">
    <mat-checkbox
        formControlName="all"
        [checked]="areAllSelected()"
        [indeterminate]="areSomeButNotAllSelected()"
        (change)="selectOrDeselectAll($event.checked)"
        i18n
        >All</mat-checkbox
    >
    <mat-divider></mat-divider>
    <ul formArrayName="expansions" class="expansions">
        <li *ngFor="let expansion of expansions; let i = index">
            <mat-checkbox [formControlName]="i">{{ expansion.name }}</mat-checkbox>
        </li>
    </ul>
</form>
