<form *ngIf="expansions.length > 0" [formGroup]="formGroup">
    <mat-checkbox
        formControlName="all"
        [checked]="areAllSelected()"
        [indeterminate]="areSomeButNotAllSelected()"
        (change)="selectOrDeselectAll($event.checked)"
        >All</mat-checkbox
    >
    <mat-divider></mat-divider>
    <ul formArrayName="expansions" class="expansions">
        <li *ngFor="let expansion of expansions; let i = index">
            <mat-checkbox [formControlName]="i">{{ expansion.name }}</mat-checkbox>
        </li>
    </ul>
    <div class="form-actions">
        <button mat-raised-button matStepperNext color="primary">Forward</button>
    </div>
</form>
