<form [formGroup]="formGroup" [class.invalid]="hasValidationError()">
    <mat-checkbox
        formControlName="all"
        [checked]="areAllSelected()"
        [indeterminate]="areSomeButNotAllSelected()"
        (change)="selectOrDeselectAll($event.checked)"
        i18n
        >All</mat-checkbox
    >
    @if (hasValidationError()) {
        <p class="error-message" role="alert" i18n>Choose at least one expansion</p>
    }
    <mat-divider></mat-divider>
    <ul formArrayName="editions" class="editions">
        @for (edition of editions; track edition; let i = $index) {
            <li>
                <mat-checkbox [formControlName]="i">{{ label(edition) }}</mat-checkbox>
            </li>
        }
    </ul>
</form>
