<footer>
    <div>
        &copy; {{ currentYear }} -
        <ng-container i18n>Felix Dimmel, Tobias Dimmel and contributors</ng-container>
    </div>
    <app-language-menu></app-language-menu>
    <ul class="footer-navigation">
        <li><a href="https://github.com/GagaMen/dominionizer">GitHub</a></li>
        <li><a href="https://github.com/GagaMen/dominionizer/issues">Issues</a></li>
        <li>
            <a href="https://github.com/GagaMen/dominionizer#license" i18n>License</a>
        </li>
    </ul>
</footer>
