<div class="container">
    <ng-container *ngIf="setService.set$ | async as set">
        <h2>Cards:</h2>
        <app-card-list setPartName="cards" [cardList]="set.cards"></app-card-list>

        <ng-container *ngIf="set.events.length > 0">
            <h2>Events:</h2>
            <app-card-list setPartName="events" [cardList]="set.events"></app-card-list>
        </ng-container>

        <ng-container *ngIf="set.landmarks.length > 0">
            <h2>Landmarks:</h2>
            <app-card-list setPartName="landmarks" [cardList]="set.landmarks"></app-card-list>
        </ng-container>

        <ng-container *ngIf="set.projects.length > 0">
            <h2>Projects:</h2>
            <app-card-list setPartName="projects" [cardList]="set.projects"></app-card-list>
        </ng-container>

        <ng-container *ngIf="set.ways.length > 0">
            <h2>Ways:</h2>
            <app-card-list setPartName="ways" [cardList]="set.ways"></app-card-list>
        </ng-container>
    </ng-container>
</div>

<mat-menu #menu="matMenu">
    <div class="mat-menu-headline">Grouping</div>
    <button mat-menu-item (click)="onGroup('without')">
        <mat-icon>
            <ng-container *ngIf="(setService.groupingOption$ | async) === 'without'">
                check
            </ng-container>
        </mat-icon>
        <span>Without</span>
    </button>
    <button mat-menu-item (click)="onGroup('byExpansion')">
        <mat-icon>
            <ng-container *ngIf="(setService.groupingOption$ | async) === 'byExpansion'">
                check
            </ng-container>
        </mat-icon>
        <span>By Expansion</span>
    </button>
    <mat-divider></mat-divider>
    <div class="mat-menu-headline">Sorting</div>
    <button mat-menu-item (click)="onSort('byName')">
        <mat-icon>
            <ng-container *ngIf="(setService.sortingOption$ | async) === 'byName'">
                check
            </ng-container>
        </mat-icon>
        <span>By Name</span>
    </button>
    <button mat-menu-item (click)="onSort('byCost')">
        <mat-icon>
            <ng-container *ngIf="(setService.sortingOption$ | async) === 'byCost'">
                check
            </ng-container>
        </mat-icon>
        <span>By Cost</span>
    </button>
</mat-menu>
