@use '@angular/material' as mat;
@use '../../../scss/variables';

header {
    background: linear-gradient(
        180deg,
        mat.m2-get-color-from-palette(variables.$primary, 900),
        mat.m2-get-color-from-palette(variables.$primary, 300)
    );
    padding-bottom: 30px;
    position: relative;

    @media (min-width: 800px) {
        padding-bottom: 50px;
    }

    .triangle-left {
        bottom: 0;
        height: 30px;
        left: 0;
        position: absolute;
        width: 50%;

        @media (min-width: 800px) {
            height: 50px;
        }
    }

    .triangle-right {
        bottom: 0;
        height: 30px;
        position: absolute;
        right: 0;
        width: 50%;

        @media (min-width: 800px) {
            height: 50px;
        }
    }
}

.header-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4rem;
    padding-top: 6rem;
    width: 80%;

    @media (min-width: 800px) {
        max-width: 800px;
    }

    object {
        margin-bottom: 2rem;
        width: 100%;
    }

    a {
        text-transform: uppercase;
    }
}

.mat-h1 {
    margin-bottom: 2rem;
    text-align: center;

    div {
        margin-bottom: 0.5rem;
    }

    div:nth-child(2) {
        line-height: 0;
    }
}

article {
    padding: 0 1rem;
}

section {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem auto;
}

.text-container {
    order: 2;

    @media (min-width: 800px) {
        flex-basis: 60%;
        flex-grow: 1;
        order: unset;
    }

    .mat-h2 {
        color: mat.m2-get-color-from-palette(variables.$accent);
        flex-basis: 100%;
        margin-bottom: 0.5rem;
    }
}

.section-content {
    line-height: 2rem;
}

.section-image {
    margin: 0 auto;
    max-width: 400px;
    order: 1;
    width: 100%;

    @media (min-width: 800px) {
        flex-basis: 30%;
        flex-grow: 1;
        margin: unset;
        max-width: unset;
        order: unset;
    }

    img {
        width: 100%;
    }
}

mat-divider {
    margin: 0.5rem 0;
}
