<header>
    <div class="header-content">
        <object data="assets/logo/logo.svg" type="image/svg+xml">Dominionizer</object>
        <h2 class="mat-headline">
            <!-- <p>Generate your next Dominion set -</p> -->
            <div>Generate your next Dominion set</div>
            <div><i>random, customized and offline.</i></div>
        </h2>
        <a mat-raised-button color="accent" routerLink="/configuration">Get started</a>
    </div>
    <svg class="triangle-left" viewBox="0 0 0.26458333 0.26458333" preserveAspectRatio="none">
        <path fill="#fafafa" d="M 0.26458333,0.26458333 0,0 v 0.26458333 z" />
    </svg>
    <svg class="triangle-right" viewBox="0 0 0.26458333 0.26458333" preserveAspectRatio="none">
        <path fill="#fafafa" d="M 0,0.26458333 0.264583,0 v 0.26458333 z" />
    </svg>
</header>
<div class="container">
    <article>
        <section>
            <h3>1. Section header</h3>
            <div class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae itaque odio ab
                amet porro modi sunt obcaecati eos deserunt sit, tenetur, aspernatur blanditiis
                totam deleniti! Dignissimos, quaerat? Recusandae, optio officiis.
            </div>
            <div class="section-image">
                <img src="https://via.placeholder.com/150" />
            </div>
        </section>
        <section>
            <h3>2. Section header</h3>
            <div class="section-image">
                <img src="https://via.placeholder.com/150" />
            </div>
            <div class="section-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae itaque odio ab
                amet porro modi sunt obcaecati eos deserunt sit, tenetur, aspernatur blanditiis
                totam deleniti! Dignissimos, quaerat? Recusandae, optio officiis.
            </div>
        </section>
    </article>
</div>
