<header>
    <div class="header-content">
        <object data="assets/logo/logo.svg" type="image/svg+xml">Dominionizer</object>
        <h2 class="mat-headline">
            <div>Generate your next Dominion set</div>
            <div><i>random, customized and offline.</i></div>
        </h2>
        <a mat-raised-button color="accent" routerLink="/configuration">Get started</a>
    </div>
    <svg class="triangle-left" viewBox="0 0 0.26458333 0.26458333" preserveAspectRatio="none">
        <path fill="#fafafa" d="M 0.26458333,0.26458333 0,0 v 0.26458333 z" />
    </svg>
    <svg class="triangle-right" viewBox="0 0 0.26458333 0.26458333" preserveAspectRatio="none">
        <path fill="#fafafa" d="M 0,0.26458333 0.264583,0 v 0.26458333 z" />
    </svg>
</header>
<div class="container">
    <article>
        <section>
            <div class="text-container">
                <h3>Customizable to your needs</h3>
                <div class="section-content">
                    Regardless whether you just began to play Dominion or you are an experienced
                    veteran who purchases every expansion instantly on release, choose your
                    expansion(s) of choice and let a suitable kingdom be generated. Unsatisfied with
                    the result? Just reroll the whole set or only this one garsty card your friend
                    is always terrorizing you with. Do all that in your prefered language to easily
                    find the generated cards in your box.
                </div>
            </div>
            <div class="section-image">
                <img src="https://via.placeholder.com/150" />
            </div>
        </section>
        <mat-divider></mat-divider>
        <section>
            <div class="section-image">
                <img src="https://via.placeholder.com/150" />
            </div>
            <div class="text-container">
                <h3>Works everywhere</h3>
                <div class="section-content">
                    Even though Dominionizer is accessible with any browser, you don't necessarily
                    need an internet connection to use it. Just install it on your device - phone,
                    tablet or desktop - and be prepared for your next session deep down in your
                    friend's gaming dungeon.
                </div>
            </div>
        </section>
        <mat-divider></mat-divider>
        <section>
            <div class="text-container">
                <h3>Always up-to-date</h3>
                <div class="section-content">
                    Dominionizer is fueled by the comprehensive data set of the
                    <a href="http://wiki.dominionstrategy.com/">Dominion Strategy Wiki</a> which is
                    maintained by a dedicated community. Changes to the wiki are transfered to this
                    app almost weekly. Found a missing translation or an error in a card
                    description? Jump in and help the wiki community out.
                </div>
            </div>
            <div class="section-image">
                <img src="https://via.placeholder.com/150" />
            </div>
        </section>
    </article>
</div>
