<h1>Stelle dein Set zusammen:</h1>
<mat-vertical-stepper>
  <mat-step [stepControl]="firstStep" errorMessage="Wähle mindestens eine Erweiterung aus.">
    <form [formGroup]="firstStep">
      <ng-template matStepLabel>
        <span class="white-space-normal">
          Welche Erweiterungen sollen berücksichtigt werden?
        </span>
      </ng-template>
      <mat-slide-toggle formControlName="selectAll">
        <span class="white-space-normal">
          Alle auswählen/abwählen
        </span>
      </mat-slide-toggle>
      <mat-divider></mat-divider>
      <div formArrayName="extensions" class="extensions">
        <ng-container *ngFor="let extension of firstStep.controls.extensions.controls; let i = index">
          <mat-slide-toggle [formControlName]="i">
            <span class="white-space-normal">
              {{ extensions[i].name }}
            </span>
          </mat-slide-toggle>
        </ng-container>
      </div>
      <div class="form-actions">
        <button mat-raised-button matStepperNext color="primary">Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondStep">
    <form [formGroup]="secondStep">
      <ng-template matStepLabel>
        <span class="white-space-normal">
          Spiel-Optionen
        </span>
      </ng-template>
      <mat-slide-toggle>
        <span class="white-space-normal">
          Ereignisse
        </span>
      </mat-slide-toggle>
      <mat-form-field>
        <mat-select placeholder="Anzahl">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle>
        <span class="white-space-normal">
          Landmarken
        </span>
      </mat-slide-toggle>
      <mat-form-field>
        <mat-select placeholder="Anzahl">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-slide-toggle>
        <span class="white-space-normal">
          Reaktionskarte bei einer Angriffskarte erzwingen
        </span>
      </mat-slide-toggle>
    </form>
  </mat-step>
</mat-vertical-stepper>
