<h1>Stelle dein Set zusammen:</h1>
<mat-vertical-stepper #stepper>
  <mat-step [stepControl]="firstStep" errorMessage="Wähle mindestens eine Erweiterung aus.">
    <form *ngIf="firstStep" [formGroup]="firstStep" (ngSubmit)="stepper.next()">
      <ng-template matStepLabel>
        <span class="white-space-normal">
          Welche Erweiterungen sollen berücksichtigt werden?
        </span>
      </ng-template>
      <mat-slide-toggle formControlName="selectAll">
        <span class="white-space-normal">
          Alle auswählen/abwählen
        </span>
      </mat-slide-toggle>
      <mat-divider></mat-divider>
      <div formArrayName="extensions" class="extensions">
        <ng-container *ngFor="let extension of extensions; let i = index">
          <mat-slide-toggle [formControlName]="i">
            <span class="white-space-normal">
              {{ extension.name }}
            </span>
          </mat-slide-toggle>
        </ng-container>
      </div>
      <div class="form-actions">
        <button mat-raised-button matStepperNext color="primary" type="submit">Weiter</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondStep">
    <form *ngIf="secondStep" [formGroup]="secondStep" (ngSubmit)="onSubmit()">
      <ng-template matStepLabel>
        <span class="white-space-normal">
          Spiel-Optionen
        </span>
      </ng-template>

      <ng-container *ngIf="shouldEventsBeShown$ | async">
        <div class="special-cards-label">
          <label>Ereignisse</label>
          <span>{{ events.value }}</span>
        </div>
        <mat-slider #events formControlName="events" min="0" max="5" tickInterval="1"></mat-slider>
      </ng-container>

      <ng-container *ngIf="shouldLandmarksBeShown$ | async">
        <div class="special-cards-label">
          <label>Landmarken</label>
          <span>{{ landmarks.value }}</span>
        </div>
        <mat-slider #landmarks formControlName="landmarks" min="0" max="5" tickInterval="1"></mat-slider>
      </ng-container>

      <ng-container *ngIf="shouldBoonsBeShown$ | async">
        <div class="special-cards-label">
          <label>Gaben</label>
          <span>{{ boons.value }}</span>
        </div>
        <mat-slider #boons formControlName="boons" min="0" max="5" tickInterval="1"></mat-slider>
      </ng-container>

      <ng-container *ngIf="shouldHexesBeShown$ | async">
        <div class="special-cards-label">
          <label>Plagen</label>
          <span>{{ hexes.value }}</span>
        </div>
        <mat-slider #hexes formControlName="hexes" min="0" max="5" tickInterval="1"></mat-slider>
      </ng-container>

      <ng-container *ngIf="shouldStatesBeShown$ | async">
        <div class="special-cards-label">
          <label>Zustände</label>
          <span>{{ states.value }}</span>
        </div>
        <mat-slider #states formControlName="states" min="0" max="5" tickInterval="1"></mat-slider>
      </ng-container>

      <mat-slide-toggle formControlName="reactionOnAttack">
        <span class="white-space-normal">
          Reaktionskarte bei einer Angriffskarte erzwingen
        </span>
      </mat-slide-toggle>
      <div class="form-actions">
        <button mat-button matStepperPrevious color="secondary">Zurück</button>
        <button mat-raised-button color="primary" type="submit">Generieren</button>
      </div>
    </form>
  </mat-step>
</mat-vertical-stepper>
