<mat-toolbar color="primary">
    <div class="container">
        <div class="navigation-action">
            @if (appBarService.configuration().navigationAction === 'sidenav') {
                <button mat-icon-button>
                    <mat-icon>menu</mat-icon>
                </button>
            }
            @if (appBarService.configuration().navigationAction === 'back') {
                <a routerLink="/configuration" mat-icon-button>
                    <mat-icon>arrow_back</mat-icon>
                </a>
            }
        </div>
        <div class="logo">
            <object data="assets/logo/logo.min.svg" type="image/svg+xml">Dominionizer</object>
        </div>
        @if (appBarService.configuration().actions.length !== 0) {
            <div class="actions">
                @for (action of appBarService.configuration().actions; track action) {
                    @if (action.onClick) {
                        <button mat-icon-button (click)="action?.onClick()">
                            <mat-icon>{{ action.icon }}</mat-icon>
                        </button>
                    }
                    @if (action.matMenu) {
                        <button mat-icon-button [matMenuTriggerFor]="action.matMenu">
                            <mat-icon>{{ action.icon }}</mat-icon>
                        </button>
                    }
                }
            </div>
        }
    </div>
</mat-toolbar>
