mat-toolbar {
    padding: 0 8px;
}

.logo {
    flex: 1 1 auto;
    line-height: 0;
    padding-left: 16px;

    object {
        height: 40px;
    }
}

.navigation-action .logo {
    padding-left: 24px;
}

.container {
    display: flex;
}
