.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

app-bar {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;

    + .content {
        margin-top: 56px;

        @media (width >= 600px) {
            margin-top: 64px;
        }
    }
}
