<mat-menu xPosition="before">
    <div class="menu-headline" i18n>Grouping</div>
    <button mat-menu-item (click)="onGroup('without')">
        <mat-icon>
            @if ((setService.groupingOption$ | async) === 'without') {
                check
            }
        </mat-icon>
        <span i18n>Without</span>
    </button>
    <button mat-menu-item (click)="onGroup('byExpansion')">
        <mat-icon>
            @if ((setService.groupingOption$ | async) === 'byExpansion') {
                check
            }
        </mat-icon>
        <span i18n>By Expansion</span>
    </button>
    <mat-divider></mat-divider>
    <div class="menu-headline" i18n>Sorting</div>
    <button mat-menu-item (click)="onSort('byName')">
        <mat-icon>
            @if ((setService.sortingOption$ | async) === 'byName') {
                check
            }
        </mat-icon>
        <span i18n>By Name</span>
    </button>
    <button mat-menu-item (click)="onSort('byCost')">
        <mat-icon>
            @if ((setService.sortingOption$ | async) === 'byCost') {
                check
            }
        </mat-icon>
        <span i18n>By Cost</span>
    </button>
</mat-menu>
