<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onNgSubmit()">
    <mat-slide-toggle formControlName="selectAll">
        <span class="white-space-normal">
            Alle auswählen/abwählen
        </span>
    </mat-slide-toggle>
    <mat-divider></mat-divider>
    <div formArrayName="expansions" class="expansions">
        <ng-container *ngFor="let expansion of expansions; let i = index">
            <mat-slide-toggle [formControlName]="i">
                <span class="white-space-normal">
                    {{ expansion.name }}
                </span>
            </mat-slide-toggle>
        </ng-container>
    </div>
    <div class="form-actions">
        <button mat-raised-button matStepperNext color="primary" type="submit">Weiter</button>
    </div>
</form>
