mat-divider {
    margin: 0.5rem 0;
}

form {
    padding-top: 0.625rem;
}

mat-slide-toggle {
    display: block;

    + mat-slide-toggle {
        margin-top: 0.3rem;
    }
}

.form-actions {
    margin-top: 2rem;
}
