<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-title formArrayName="extensions">welche Erweiterungen sollen berücksichtigt werden?</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-12 col-md-6" *ngFor="let extension of form.controls.extensions.controls; let i = index">
            <mat-slide-toggle [formControlName]="i">
              {{ extensions[i].name }}
            </mat-slide-toggle>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>Spiel-Optionen:</mat-card-title>
      <mat-card-content>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <mat-slide-toggle>
              Ereignisse
            </mat-slide-toggle>
          </div>
          <div class="col-sm-12 col-md-6">
            <mat-form-field>
              <mat-select placeholder="Anzahl">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <mat-slide-toggle>
              Landmarken
            </mat-slide-toggle>
          </div>
          <div class="col-sm-12 col-md-6">
            <mat-form-field>
              <mat-select placeholder="Anzahl">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
                <mat-option value="5">5</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-slide-toggle>
              Reaktionskarte bei einer Angriffskarte erzwingen
            </mat-slide-toggle>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
