@use '@angular/material' as mat;
@use './variables';
@include mat.elevation-classes;
@include mat.app-background;
@include mat.typography-hierarchy(variables.$typography);
@include mat.button-theme(variables.$theme);
@include mat.card-theme(variables.$theme);
@include mat.checkbox-theme(variables.$theme);
@include mat.divider-theme(variables.$theme);
@include mat.expansion-theme(variables.$theme);
@include mat.fab-theme(variables.$theme);
@include mat.icon-theme(variables.$theme);
@include mat.icon-button-theme(variables.$theme);
@include mat.menu-theme(variables.$theme);
@include mat.slider-theme(variables.$theme);
@include mat.stepper-theme(variables.$theme);
@include mat.toolbar-theme(variables.$theme);
