@import '~@angular/material/theming';
@import './palette';

@include mat-core();

$primary: mat-palette($md-ochre);
$accent: mat-palette($md-blue);
$warn: mat-palette($mat-red);

$app-theme: mat-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
    )
);

@include angular-material-theme($app-theme);
