// created by http://mcg.mbitson.com/#!?mcgpalette0=%23dad9bd&mcgpalette1=%230b6acb&themename=App
$md-ochre: (
    50: #fbfaf7,
    100: #f4f4eb,
    200: #edecde,
    300: #e5e4d1,
    400: #e0dfc7,
    500: #dad9bd,
    600: #d6d5b7,
    700: #d0cfae,
    800: #cbcaa6,
    900: #c2c098,
    A100: #fff,
    A200: #fff,
    A400: #fffffc,
    A700: #fffee2,
    contrast: (
        50: #000,
        100: #000,
        200: #000,
        300: #000,
        400: #000,
        500: #000,
        600: #000,
        700: #000,
        800: #000,
        900: #000,
        A100: #000,
        A200: #000,
        A400: #000,
        A700: #000,
    ),
);
$md-blue: (
    50: #e2edf9,
    100: #b6d2ef,
    200: #85b5e5,
    300: #5497db,
    400: #3080d3,
    500: #0b6acb,
    600: #0a62c6,
    700: #0857be,
    800: #064db8,
    900: #033cac,
    A100: #d5e1ff,
    A200: #a2bcff,
    A400: #6f97ff,
    A700: #5684ff,
    contrast: (
        50: #000,
        100: #000,
        200: #000,
        300: #000,
        400: #fff,
        500: #fff,
        600: #fff,
        700: #fff,
        800: #fff,
        900: #fff,
        A100: #000,
        A200: #000,
        A400: #000,
        A700: #000,
    ),
);
