$background-color-action: rgba(237, 228, 199, 1);
$background-color-treasure: rgba(255, 240, 149, 1);
$background-color-victory: rgba(173, 205, 42, 1);
$background-color-reaction: rgba(174, 177, 210, 1);
$background-color-reserve: rgba(213, 189, 89, 1);
$background-color-duration: rgba(248, 154, 67, 1);
$background-color-night: rgba(93, 106, 115, 1);
$background-color-shelter: rgba(229, 130, 101, 1);
$background-color-ruins: rgba(149, 100, 21, 1);
$background-color-event: rgba(187, 190, 183, 1);
$background-color-landmark: rgba(89, 172, 104, 1);
$background-color-project: rgba(245, 175, 173, 1);
$background-color-way: rgba(211, 238, 249, 1);
