$font-color-card: #221e13;

$color-action: rgba(237, 228, 199, 1);
$color-treasure: rgba(255, 240, 149, 1);
$color-victory: rgba(173, 205, 42, 1);
$color-reaction: rgba(174, 177, 210, 1);
$color-reserve: rgba(213, 189, 89, 1);
$color-duration: rgba(248, 154, 67, 1);
$color-night: rgba(93, 106, 115, 1);
$color-shelter: rgba(229, 130, 101, 1);
$color-ruins: rgba(149, 100, 21, 1);
