@import './material-theme';
@import '~material-design-icons/iconfont/material-icons.css';

::selection {
    background-color: mat-color($primary);
    color: $light-primary-text;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

app-root {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.white-space-normal {
    white-space: normal;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}
