mat-stepper {
    border-radius: 4px;
    padding-bottom: 88px;
}

.stepper-actions {
    bottom: 0;
    position: sticky;
}

.relative-container {
    position: relative;
}

.mdc-fab--extended {
    bottom: 16px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;

    @media (min-width: 576px) {
        left: unset;
        margin: 0;
        right: 16px;
    }
}
