<mat-vertical-stepper class="mat-elevation-z2">
    <mat-step
        *ngIf="expansionSelectViewData$ | async as viewData"
        [stepControl]="expansionSelect.formGroup"
        errorMessage="Choose at least one expansion"
    >
        <ng-template matStepLabel>
            <span class="white-space-normal">Expansions</span>
        </ng-template>
        <app-expansion-select
            #expansionSelect
            [expansions]="viewData.expansions"
            [initialValue]="viewData.initialValue"
            (change)="configurationService.updateExpansions($event)"
        ></app-expansion-select>
    </mat-step>
    <mat-step
        *ngIf="specialCardSelectViewData$ | async as viewData"
        [stepControl]="specialCardSelect.formGroup"
    >
        <ng-template matStepLabel>
            <span class="white-space-normal">Special Cards</span>
        </ng-template>
        <app-special-card-select
            #specialCardSelect
            [initialValue]="viewData.initialValue"
            [availability]="viewData.availability"
            (change)="configurationService.updateSpecialCardsCount($event)"
        ></app-special-card-select>
    </mat-step>
</mat-vertical-stepper>

<div class="stepper-actions">
    <div class="relative-container">
        <button class="mdc-fab mdc-fab--extended" routerLink="set">
            <div class="mdc-fab__ripple"></div>
            <span class="material-icons mdc-fab__icon">casino</span>
            <span class="mdc-fab__label">generate</span>
        </button>
    </div>
</div>
