mat-vertical-stepper {
    border-radius: 4px;
    padding-bottom: 88px;
}

.stepper-actions {
    bottom: 0;
    position: sticky;
}

.relative-container {
    position: relative;
}

.mat-fab {
    bottom: 16px;
    position: absolute;
    right: 16px;
}
