<mat-vertical-stepper #stepper>
    <mat-step
        *ngIf="expansionService.expansions$ | async as expansions"
        [stepControl]="expansionSelect.formGroup"
        errorMessage="Choose at least one expansion"
    >
        <ng-template matStepLabel>
            <span class="white-space-normal">Expansions</span>
        </ng-template>
        <app-expansion-select
            #expansionSelect
            [expansions]="expansions"
            (change)="configurationService.updateExpansions($event)"
        ></app-expansion-select>
    </mat-step>
    <mat-step
        *ngIf="specialCardsAvailability$ | async as availability"
        [stepControl]="specialCardSelect.formGroup"
    >
        <ng-template matStepLabel>
            <span class="white-space-normal">Special Cards</span>
        </ng-template>
        <app-special-card-select
            #specialCardSelect
            [initialValue]="(configurationService.configuration$ | async).specialCardsCount"
            [availability]="availability"
            (change)="configurationService.updateSpecialCardsCount($event)"
        ></app-special-card-select>
    </mat-step>
</mat-vertical-stepper>
