<div class="container">
  <div class="row">
    <div class="col">
      <mat-toolbar color="primary">
        <nav>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon svgIcon="menu">menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon svgIcon="home"></mat-icon>
              <span>Home</span>
            </button>
            <button mat-menu-item>
              <mat-icon svgIcon="game"></mat-icon>
              <span>Set erstellen</span>
            </button>
            <button mat-menu-item>
              <mat-icon svgIcon="info"></mat-icon>
              <span>Info</span>
            </button>
          </mat-menu>
        </nav>
        <span class="app-title">{{title}}</span>
      </mat-toolbar>
    </div>
  </div>
</div>
